# service script for systemd
#
# 
# sudo cp fastnet2ip.service /etc/systemd/system/fastnet2ip.service 
# sudo systemctl status|cat fastnet2ip
# sudo systemctl start|stop|restart fastnet2ip
# sudo systemctl enable|disable fastnet2ip
# sudo systemctl daemon-reload  (after editing this file)
#
#

[Unit]
Description=fastnet2ip Service
After=network-online.target dev-ttySTM3.device
Wants=network-online.target
####################### CHANGE THIS IF PORT CHANGES
BindsTo=dev-ttySTM3.device
StartLimitIntervalSec=300
StartLimitBurst=5
StartLimitAction=reboot

[Service]
Type=simple
User=root
WorkingDirectory=/home/alex060/fastnet2ip
ExecStart=/home/alex060/python_environment/bin/python3 /home/alex060/fastnet2ip/fastnet2ip.py --serial /dev/ttySTM3 --udp-port 2002 --log-level ERROR
Restart=always
RestartSec=10

# === RESOURCE LIMITS ===
OOMScoreAdjust=-700
OOMPolicy=continue
MemoryMax=128M
MemoryHigh=96M
TimeoutStopSec=30


# === LOGGING ===
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fastnet2ip
Environment=PYTHONUNBUFFERED=1


[Install]
WantedBy=multi-user.target
